<h1>My Todo's</h1>
<div class="alert alert-warning" *ngIf="message" >{{message}}</div>

<div class="container">
  <table class="table">
    <caption>
      My Todo's
    </caption>
    <thead>
      <tr>
        <th>Target Date</th>
        <th>description</th>
        <th>status</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- for (Todo todo : todos)-->
      <tr *ngFor="let todo of todos">
        <td>{{ todo.targetDate | date }}</td>
        <td>{{ todo.description }}</td>
        <td>{{ todo.done }}</td>
        <td><Button class="btn btn-success" (click)="updateTodo(todo.id)">Update</Button></td>
        <td><Button class="btn btn-warning" (click)="deleteTodo(todo.id)">Delete</Button></td>
      </tr>
    </tbody>
  </table>
  <div class="row"><Button class="btn btn-success"
    (click)="addTodo()">Add</Button></div>

</div>
